/* ===== FOOTER ===== */
.footer-wrapper-div {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 50px 80px;
  height: 200px;
  width: 100%;
  background-color: var(--bg-color);
  border-top: 1px solid var(--border);
  /* 디자인팀에서 추가하심 */
}

.footer-logo {
  width: 360px;
  display: flex;
  align-items: center;
}

.footer-description {
  width: 1200px;
  padding: 0 20px;
  font-family: 'Pretendard';
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 25px;
  color: var(--footer-text-L);
}

.footer-description p {
  color: var(--footer-text-S);
  margin: 0;
}

.footer-title {
  font-weight: 700;
  font-size: 24px;
  line-height: 25px;
  display: inline-block;
  margin-bottom: 20px;
}

.footer-link-wrapper {
  display: flex;
}

.footer-github-link {
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 10px;
  padding: 5px 13px;
  background-color: var(--github-bg);
  color: #ffffff;
  text-decoration: none;
  font-family: 'Pretendard';
  font-style: normal;
  font-weight: 700;
  font-size: 18px;
  line-height: 24px;
}

.footer-img-github {
  margin-right: 5px;
}

.footer-github-txt {
  display: inline-block;
  padding-top: 5px;
}

@media screen and (max-width: 1400px) {
  .footer-description p {
    width: 330px;
    font-size: 16px;
  }
}

@media screen and (max-width: 1100px) {
  .footer-title {
    font-size: 22px;
    width: 290px;
  }
  .footer-description {
    width: 100%;
  }
}

/* 레이아웃 체크를 위해 추가했습니다. 수정하셔도 됩니다! */
@media screen and (max-width: 805px) {
  .footer-wrapper-div {
    height: 294px;
    flex-direction: column;
    overflow: hidden;
    padding: 50px 20px;
    justify-content: flex-start;
    align-items: flex-start;
  }

  .footer-logo {
    justify-self: flex-start;
    margin-bottom: 30px;
    width: 120px;
    height: 13.7px;
  }

  .logo-img {
    width: 100%;
    height: 100%;
  }

  .footer-description {
    padding-left: 0px;
  }

  .footer-description p {
    /* white-space: pre; */
    color: var(--footer-text-S);
    width: 290px;
    margin: 0;
    font-size: 12px;
    font-weight: 400;
    line-height: 20px;
    text-align: left;
  }

  .footer-title {
    margin-bottom: 20px;
    font-weight: 700;
    font-size: 16px;
    line-height: 25px;
  }

  .footer-link-wrapper {
    width: 76px;
    height: 59px;
    margin-top: 26px;
  }

  .footer-github-link {
    padding: 5px 8x;
  }
}

@media screen and (max-width: 550px) {
  .footer-description {
    width: 100%;
  }
  .footer-description p {
    width: 277px;
  }
  .footer-title {
    font-size: 14px;
    width: 220px;
  }
}

@media screen and (max-width: 805px) {
  .footer-title {
    width: 100%;
    margin-bottom: 20px;
    font-weight: 700;
    font-size: 16px;
    line-height: 25px;
  }
}

@media screen and (max-width: 1100px) {
  .footer-title {
    font-size: 22px;
    width: 291px;
  }
}

@media screen and (max-width: 1400px) {
  .footer-description p {
    width: 330px;
    font-size: 14px;
  }
}
