/* ===== FOOTER ===== */

.footer-wrapper-div {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 50px 0;
  height: 200px;
  width: 100%;
  background-color: var(--bg-color);
}

.footer-logo {
  flex-basis: 360px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.footer-description {
  flex-basis: 1200px;
  padding-left: 20px;
  font-family: 'Pretendard';
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 25px;
  color: var(--footer-text-L);
}

.footer-description p {
  color: var(--footer-text-S);
  margin: 0;
}

.footer-title {
  font-weight: 700;
  font-size: 24px;
  line-height: 25px;
  display: inline-block;
  margin-bottom: 20px;
}

.footer-link-wrapper {
  flex-basis: 360px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.footer-github-link {
  display: flex;
  align-items: center;
  border-radius: 10px;
  padding: 5px 13px;
  background-color: var(--github-bg);
  font-size: 18px;
  color: #ffffff;
  text-decoration: none;
  font-family: 'Pretendard';
  font-style: normal;
  font-weight: 700;
  font-size: 18px;
  line-height: 24px;
}

.footer-img-github {
  margin-right: 5px;
}

.footer-github-txt {
  display: inline-block;
  padding-top: 5px;
}