/* ===== WAI-ARIA ===== */
.sr-only {
  position: absolute;
  z-index: -1px;
  display: inline-block;
  overflow: hidden;
  width: 1px;
  height: 1px;
  border: 0;
  clip: rect(1px, 1px, 1px, 1px);
  clip-path: inset(50%);
  word-break: initial;
  word-wrap: initial;
}

/* ===== VARIABLES ===== */
:root {
  --algoview: #4E49FF;
  --bgc-body: #F2F2FD
}

/* ===== FOOTER ===== */
@font-face {
  font-family: 'Pretendard-Regular';
  src: url('https://cdn.jsdelivr.net/gh/Project-Noonnu/noonfonts_2107@1.1/Pretendard-Regular.woff')
    format('woff');
  font-weight: 400;
  font-weight: 700;
  font-style: normal;
}

.footer-wrapper-div {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 50px 0;
  position: fixed;
  bottom: 0;
  width: 100%;
}

.footer-logo {
  flex-basis: 360px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.footer-description {
  flex-basis: 1200px;
  padding-left: 20px;
  font-family: 'Pretendard';
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 25px;
  color: #717171;
}

.footer-title {
  font-weight: 700;
  font-size: 24px;
  line-height: 25px;
  display: inline-block;
  margin-bottom: 20px;
}

.footer-link-wrapper {
  flex-basis: 360px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.footer-github-link {
  display: flex;
  align-items: center;
  border-radius: 10px;
  padding: 5px 13px;
  background-color: #bbbbbb;
  font-size: 18px;
  color: #ffffff;
  text-decoration: none;
  font-family: 'Pretendard';
  font-style: normal;
  font-weight: 700;
  font-size: 18px;
  line-height: 24px;
}

.footer-img-github {
  margin-right: 5px;
}

.footer-github-txt {
  display: inline-block;
  padding-top: 5px;
}

/* ===== FOOTER ===== */

/* ===== HEADER ===== */
header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #fff;
  padding: 16px 60px 15px 60px;
  color: #878787;
  font-weight: 700;
  font-size: 24px;
}

nav {
  display: flex;
  align-items: center;
}

/* toggle change */
#toggle:checked ~ .dark-toggle {
  background: #ffffff;
}

#toggle:checked ~ .dark-toggle .light-toggle-img {
  opacity: 1;
  transition: all 0.3s ease-in;
}

#toggle:checked ~ .dark-toggle .dark-toggle-img {
  left: calc(100% - 28px);
}

.dark-toggle,
.dark-toggle-img {
  transition: all 0.3s ease-in;
}

/* toggle UI */
.dark-toggle {
  width: 64px;
  height: 32px;
  background-color: #605bff;
  box-shadow: inset 0px 4px 4px rgba(0, 0, 0, 0.25);
  border-radius: 40px;
  margin-left: 48px;
  border: 0px;
  cursor: pointer;
  position: relative;
}

.dark-toggle-img {
  position: absolute;
  top: 50%;
  left: 4px;
  transform: translateY(-50%);
}

.light-toggle-img {
  position: absolute;
  top: 50%;
  right: 4px;
  transform: translateY(-50%);
  opacity: 0;
}

/* 메뉴 버튼 */
.top-menu {
  display: flex;
  gap: 32px;
}

.top-menu-chart {
  padding: 10px 15px;
}

.top-menu-reference {
  padding: 10px 15px;
}

.top-menu .on-click {
  color: #605bff;
}

/* ===== HEADER ===== */