/* ===== WAI-ARIA ===== */
.sr-only {
  position: absolute;
  z-index: -1px;
  display: inline-block;
  overflow: hidden;
  width: 1px;
  height: 1px;
  border: 0;
  clip: rect(1px, 1px, 1px, 1px);
  clip-path: inset(50%);
  word-break: initial;
  word-wrap: initial;
}

/* ===== VARIABLES ===== */
:root {
  --header: 80px;
  --sidebar: 360px;
}

/* ===== GLOBAL SETTING ===== */
body {
  font-family: 'Pretendard-Regular';
  font-size: 16px;
}

/* ===== LAYOUT ===== */
.main {
  display: flex;
  font-weight: 700;
  background-color: var(--bg-color);
  padding-top: var(--header);
  color: var(--text-color);
}
@media screen and (width < 805px) {
  :root {
    --header: 50px;
  }
  .main {
    flex-direction: column;
  }

  .sidebar {
    display: none;
  }
}
