/* ===== HEADER ===== */
.header {
  position: fixed;
  z-index: 20;
  width: 100%;
}
.header-wrapper-div {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 3.75rem;
  height: var(--header);
  width: 100%;
  background-color: var(--bg-color);
  color: var(--text-color);
  font-weight: 700;
  font-size: 1.5rem;
  position: fixed;
  z-index: 10;
  border-bottom: 1px solid var(--border);
}

.header-wrapper-div a {
  text-decoration: none;
  color: inherit;
}

.header-nav {
  display: flex;
  align-items: center;
}

/* toggle change */
#toggle:checked ~ .dark-toggle {
  background-color: var(--point-color-2);
}

#toggle:checked ~ .dark-toggle .light-toggle-img {
  opacity: 1;
  transition: all 0.3s ease-in;
}

#toggle:checked ~ .dark-toggle .dark-toggle-img {
  left: calc(100% - 28px);
}

.dark-toggle,
.dark-toggle-img {
  transition: all 0.3s ease-in;
}

/* toggle UI */
.dark-toggle {
  width: 4rem;
  height: 2rem;
  background-color: var(--main-color);
  box-shadow: inset 0px 0.25rem 0.25rem rgba(0, 0, 0, 0.25);
  border-radius: 40px;
  margin-left: 0.1875rem;
  border: 0px;
  cursor: pointer;
  position: relative;
}

.dark-toggle-img {
  position: absolute;
  top: 50%;
  left: 0.25rem;
  transform: translateY(-50%);
}

.light-toggle-img {
  position: absolute;
  top: 50%;
  right: 0.25rem;
  transform: translateY(-50%);
  opacity: 0;
}

/* 메뉴 버튼 */
.header-menu {
  display: flex;
  gap: 2rem;
}

.header-menu-chart {
  padding: 0.625rem 0.9375rem;
}

.header-menu-reference {
  padding: 0.625rem 0.9375rem;
}

.on-click {
  color: var(--main-color);
}

@media screen and (min-width: 805px) {
  .btn-hamburger {
    display: none;
  }
  .hidden-menu-bar {
    display: none;
  }
  .overlay {
    display: none;
  }
  .hidden-menu-wrapper {
    display: none;
  }
  .hidden-header-menu {
    display: none;
  }
}

@media screen and (max-width: 805px) {
  .header-wrapper-div {
    padding: 0 1.25rem;
    position: sticky;
    width: 100%;
  }
  .header-wrapper-div h1 {
    margin-top: 0.625rem;
  }
  .header-logo {
    width: 7.5rem;
  }
  .header-menu,
  .dark-toggle,
  .dark-toggle-input {
    display: none;
  }

  /* 햄버거 메뉴 */
  .btn-hamburger {
    width: 2.125rem;
    height: 1.25rem;
    border: 0;
    background: none;
    position: relative;
    padding: 0;
    margin-left: 0.3125rem;
  }

  .btn-hamburger span {
    display: block;
    width: 100%;
    height: 0.1875rem;
    background: var(--hamburger-color);
    position: absolute;
    transition: all 0.2s;
  }
  .btn-hamburger span:first-child {
    top: 0;
  }

  .btn-hamburger span:nth-child(2) {
    top: 0.531rem;
  }

  .btn-hamburger span:nth-child(3) {
    bottom: 0;
  }

  .overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    display: none;
    z-index: 10;
  }

  .hidden-menu-bar {
    display: none;
    position: fixed;
    right: 0;
    top: 0;
    width: 14.625rem;
    height: 100%;
    background: var(--bg-color);
    z-index: 20;
    padding: 2.5rem 1.25rem;
    animation: showMenu 0.5s ease forwards;
  }

  /* 햄버거 메뉴 부드럽게 연결되는 에니메이션 */
  @keyframes showMenu {
    0% {
      opacity: 0;
      transform: translateX(300px);
    }
    100% {
      opacity: 1;
      transform: translateX(0);
    }
  }

  .hidden-menu-wrapper {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 3.12125rem;
  }

  .hidden-menu-logo {
    width: 7.480625rem;
    height: 0.86rem;
  }

  .hidden-header-menu {
    width: 10.6875rem;
    text-align: left;
  }

  .hidden-header-link {
    display: block;
    font-weight: 500;
    text-align: start;
    width: 100%;
    height: 2.75rem;
    line-height: 2.75rem;
    margin-bottom: 1rem;
    padding-left: 0.9375rem;
  }

  .on-click .hidden-header-link {
    border-radius: 0.625rem;
    background-color: var(--hamburger-active-color);
    color: var(--hamburger-active-text-color);
    font-weight: 700;
  }

  /* toggle change */
  #hiddenToggle:checked ~ .hidden-dark-toggle {
    background-color: var(--point-color-2);
  }

  #hiddenToggle:checked ~ .hidden-dark-toggle .hidden-light-toggle-img {
    opacity: 1;
    transition: all 0.3s ease-in;
  }

  #hiddenToggle:checked ~ .hidden-dark-toggle .hidden-dark-toggle-img {
    left: calc(100% - 18px);
  }

  .hidden-dark-toggle,
  .hidden-dark-toggle-img {
    transition: all 0.3s ease-in;
  }

  /* toggle UI */
  .hidden-dark-toggle {
    width: 2.4375rem;
    height: 1.25rem;
    background-color: var(--main-color);
    box-shadow: inset 0 0.25rem 0.25rem rgba(0, 0, 0, 0.25);
    border-radius: 40px;
    margin-left: 0.1875rem;
    border: 0;
    cursor: pointer;
    position: relative;
    display: block;
    -webkit-border-radius: 40px;
    -moz-border-radius: 40px;
    -ms-border-radius: 40px;
    -o-border-radius: 40px;
  }

  .hidden-dark-toggle-img {
    position: absolute;
    width: 0.9375rem;
    height: 1rem;
    top: 50%;
    left: 0.25rem;
    transform: translateY(-50%);
  }

  .hidden-light-toggle-img {
    position: absolute;
    width: 0.9375rem;
    height: 1rem;
    top: 50%;
    right: 0.25rem;
    transform: translateY(-50%);
    opacity: 0;
  }
}
