.pin {
  color: var(--point-color);
  margin-right: .2em;
}

/* ===== 차트 섹션 ===== */
.sec-main {
  width: 100%;
}

.sec-charts {
  padding: 80px 60px 120px;
}

.sec-charts .sec-tit {
  font-size: 48px;
}

.sec-charts .category-tit {
  font-size: 27px;
  /* margin: 48px 0 40px; */
  margin: 90px 0 45px;
}

.sec-charts .category-tit::before {
  content: '';
  display: block;
  height: 1px;
  width: 100%;
  background-color: var(--point-color);
  /* margin-bottom: 48px; */
  margin-bottom: 40px;
}

.sec-charts .chart-tit {
  font-size: 24px;
  margin-bottom: 48px;
  position: relative;
  margin-left: calc(70px - 48px);
}

.sec-charts .chart-tit::before {
  content: '';
  display: block;
  background-color: var(--main-color);
  height: 24px;
  width: 4px;
  position: absolute;
  top: 0px;
  margin-left: -18px;
}

.sec-charts ul {
  display: flex;
  flex-direction: column;
  gap: 40px;
}

.sec-charts li {
  background-color: var(--bg-color-2);
  border-radius: 10px;
  padding: 48px;
}

.sec-charts canvas {
  max-width: 100%;
  max-height: 60vh;
}

/* ===== 탑버튼 ===== */
.btn-top {
  position: fixed;
  bottom: 80px;
  right: 80px;
  width: 80px;
  height: 80px;
  border: none;
  border-radius: 50%;
  background: url('/src/assets/images/btn-top.svg');
}

.btn-top.unfixed {
  position: absolute;
}

/* ===== 스크롤 인디케이터 ===== */
.scroll-indicator {
  width: calc(100% - var(--sidebar));
  height: 5px;
  position: fixed;
  right: 0px;
  background-color: var(--scroll-bg);
  z-index: 10;
}

#scroll-indicator-bar {
  background: var(--main-color);
  height: 5px;
  width: 0%;
}

/* ===== 차트 숨기기 ===== */
.hidden {
  display: none;
}

/* ===== 반응형 ===== */
@media screen and (width < 805px) {
  .sec-charts {
    padding: 80px 40px 120px; 
  }

  .sec-charts ul {
    gap: 20px;
  }

  .scroll-indicator {
    width: 100%;
  }
}
