.pin{
  color: var(--point-color);
}

/* ===== 차트 섹션 ===== */
.sec-main {
  width: 100%;
}

.sec-charts {
  padding: 80px 60px 120px;
}

.sec-charts .sec-tit {
  font-size: 48px;
}

.sec-charts .category-tit {
  font-size: 27px;
  margin: 48px 0 40px;
}

.sec-charts .category-tit::before {
  content: '';
  display: block;
  height: 1px;
  width: 100%;
  background-color: var(--point-color);
  margin-bottom: 48px;
}

.sec-charts .chart-tit {
  font-size: 24px;
  margin-bottom: 48px;
  position: relative;
  margin-left: calc(70px - 48px);
}

.sec-charts .chart-tit::before {
  content: '';
  display: block;
  background-color: var(--main-color);
  height: 24px;
  width: 4px;
  position: absolute;
  top: 1px;
  margin-left: -18px;
}

.sec-charts ul {
  display: flex;
  flex-direction: column;
  gap: 60px;
}
.sec-charts li {
  background-color: var(--bg-color-2);
  border-radius: 10px;
  padding: 48px;
}

.sec-charts canvas {
  max-width: 100%;
  max-height: 60vh;
}

/* ===== 언어 선택 버튼 ===== */
.select-lang {
  position: absolute;
  font-size: 0;

  /* 임시 */
  position: fixed;
}
.select-lang button {
  font-weight: 700;
  font-size: 18px;
  line-height: 22px;
  padding: 7px 0 9px;
  width: 120px;
  box-sizing: border-box;
  border: 2px solid var(--point-color);
  background: none;
  color: var(--btn-text-color);
}
.select-lang button.selected-btn {
  color: #fff;
  background: var(--point-color);
}
#js-btn {
  border-radius: 0 10px 10px 0;
}
#py-btn {
  border-radius: 10px 0 0 10px;
}
/* .main{
  --main-color: #605bff;
  --point-color: #8d89ff;
  --text-color: #272b33;
  --bg-color: #f2f2fd;
  --bg-color-2: #ffffff;
  --scroll-bg: #D7D7D7;
}

.main.dark{
  --point-color: #605bff;
  --text-color: #FFFFFF;
  --bg-color: #272b33;
  --bg-color-2: #393B46;
  --scroll-bg: #393B46;
}

/* ===== 탑버튼 ===== */
.btn-top {
  position: fixed;
  bottom: 80px;
  right: 80px;
  width: 80px;
  height: 80px;
  border: none;
  border-radius: 50%;
  background: url('/src/assets/images/btn-top.svg');
}

.btn-top.unfixed {
  position: absolute;
}

/* ===== 스크롤 인디케이터 ===== */
.scroll-indicator {
  width: calc(100% - var(--sidebar));
  height: 5px;
  position: fixed;
  right: 0px;
  background-color: var(--scroll-bg);
  z-index: 10;
}

#scroll-indicator-bar {
  background: var(--main-color);
  height: 5px;
  width: 0%;
}

/* ===== 차트 숨기기 ===== */
.hidden {
  display: none;
}

/* ===== 반응형 ===== */
@media screen and (width < 768px) {
  .sec-charts {
    padding: 80px 40px 120px; /* 모바일 양쪽 마진 각 40px 적용해보았습니다. */
  }

  .scroll-indicator {
    width: 100%;
  }
}
