.practice {
  width: 100%;
  padding: 80px 60px;
  box-sizing: border-box;
  background-color: var(--bg-color);
}

.practice h2 {
  margin-bottom: 40px;
  font-size: 35px;
}

.practice-list {
  display: flex;
  flex-wrap: wrap;
  gap: 0.5rem 2rem;
}

.practice-list-item {
  height: 70px;
  background: var(--bg-color-2) url('../../assets/images/button.png') no-repeat 93%;
  transition: all 0.3s;
  flex: 1 1 40%;
  margin-bottom: 2.25%;
  min-width: 260px;
  border-radius: 10px;
}

.practice-link {
  width: 100%;
  height: 100%;
  display: inline-block;
  padding: 20px;
  box-sizing: border-box;
  color: var(--text-color);
  text-decoration: none;
  font-size: 18px;
  font-weight: bold;
  line-height: 1.8;
}

.practice-link:hover {
  color: white;
}

.practice-list-item:hover {
  background-image: url('../../assets/images/rt.png');
  background-color: var(--main-color);
  transform: scale(1.03);
  border-radius: 10px;
}
