/* list */
.referenceContainer {
  flex: 1;
  padding: 80px 60px 40px 60px;
}
.referenceTitle {
  font-size: 48px;
  font-weight: 700;
  margin-bottom: 48px;
  color: var(--text-color)
}
.youtubeListContainer {
  display: flex;
  flex-wrap: wrap;
  gap: 40px 44px;
}
.youtubeItem {
  display: flex;
  align-items: center;
  border-radius: 10px;
  background-color: var(--bg-color-2);
  width: 698px;
  height: 160px;
  padding: 32px;
  margin-bottom: 20px;
  text-decoration: none;
  color: var(--text-color);
}
.youtubeImage {
  background-color: yellow;
  border-radius: 50%;
  width: 100px;
  height: 100px;
  margin-right: 30px;
}
.listInformation {
  display: flex;
  flex-direction: column;
  gap: 6px;
}
.youtubeTitle {
  font-size: 24px;
  font-weight: 700;
}
.yotubeID {
  font-size: 14px;
  font-weight: 600;
  color: #595e89;
}
.youtubeContent {
  width: 420px;
  margin-top: 2px;
  font-size: 14px;
  font-weight: 400;
  color: #8a90a5;
}
/* !list */
